html {
    line-height: 1.4;
}

body {
    padding: 1em;
}

#topic {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    text-align: center;
    background: #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 50%;
    z-index: 100;
    opacity: 0.9;
    padding: 1em 0.5em;
    line-height: 1.4;
    -webkit-box-shadow: 0px 4px 12px #666;
}

.message {
    margin: 1em 0 0;
    clear: left;
}

.message.history {
    opacity: 0.5;
}

.message.consecutive {
    margin: 0;
}

.message.consecutive .t-name {
    visibility: hidden;
}

.message .t-time {
    float: left;
    width: 5em;
    color: #bbb;
}

.message .t-name {
    float: left;
    padding-right: 1em;
    width: 9em;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.message .t-sender {
    float:left; 
    width: 1em;   
}

.message .t-message {
    margin-left: 16em; 
    display:block;   
}

.message .t-message .emoticon {
    vertical-align: absmiddle;
}

.message .t-message a > img {
  max-width: 100%;
}

.status, .event {
    margin: 1em 4em 0;
    text-align: right;
    color: #aaa;
    clear: left;
    font-size: .8rem;
}

.consecutive.status, .consecutive.event {
    margin-top: 0;
}

.mention {
    background-color: #ff9;    
}