html {
    line-height: 30px;
}

body {
    padding: 1em;
}

#topic {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 50%;
    opacity: 0.9;
    z-index: 100;
}

.message {
    margin: 1em 0 0;
    clear: left;
}

.message.history {
    opacity: 0.5;
}

.message.consecutive {
    margin: 0;
}

.message.consecutive .t-name {
    visibility: hidden;
}

.message .t-time {
    float: left;
    width: 5em;
    color: #bbb;
}

.message .t-name {
    float: left;
    padding-right: 1em;
    width: 9em;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.message .t-sender {
    float:left; 
    width: 1em;   
}

.message .t-message {
    margin-left: 16em; 
    display:block;   
}

.message .t-message .emoticon {
    vertical-align: absmiddle;
}

.status, .event {
    margin: 1em 4em;
    text-align: center;
    font-style: italic;
    color: #aaa;
    clear: left;
}

.mention {
    background-color: #ff9;    
}